@use 'vars';
@use 'mixins';

@font-face {
	font-display: swap;
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/src/fonts/PlusJakartaSans-Regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 500;
	src: url('/src/fonts/PlusJakartaSans-Medium.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Plus Jakarta Sans';
	font-style: normal;
	font-weight: 600;
	src: url('/src/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2');
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::selection {
	background: vars.$accent-color;
	color: black;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	@include mixins.reduced-motion {
		scroll-behavior: auto;
	}
}

body {
	font-family: vars.$font-primary;
	font-size: 2rem;
	text-rendering: optimizespeed;
}

a {
	color: vars.$text-primary;
	text-decoration: none;
	transition: color 250ms ease-in-out;
	@include mixins.reduced-motion {
		transition: none;
	}

	&:hover {
		color: vars.$accent-color;
	}

	&:focus {
		color: vars.$accent-color;
	}
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: unset;
	}
}
