$font-primary: 'Plus Jakarta Sans', sans-serif;

$text-primary: #707070;
$accent-color: #32e0c4;

$browser-frame-button-red: rgba(248, 113, 113, 1);
$browser-frame-button-yellow: rgba(251, 191, 36, 1);
$browser-frame-button-green: rgba(52, 211, 153, 1);

$breakpoint-mobile-lower: 320px;
$breakpoint-mobile-upper: 480px;

$breakpoint-tablet-lower: 481px;
$breakpoint-tablet-upper: 768px;

$breakpoint-laptop-lower: 769px;
$breakpoint-laptop-upper: 1024px;

$breakpoint-desktop-lower: 1025px;
$breakpoint-desktop-upper: 1200px;

$breakpoint-large-desktop-lower: 1500px;
