@use '../base/vars';
@use '../base/mixins';

.work {
	overflow: hidden;

	a {
		border-bottom: 2.5px solid vars.$accent-color;
	}

	&__wrapper {
		display: grid;
		margin: 0 6.5rem;
		gap: 5rem;
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		@include mixins.mobile {
			display: flex;
			flex-direction: column;
			margin: 8rem 1.5rem;
		}

		.wrapper {
			max-width: 75rem;
			margin: 4rem auto;
			@include mixins.mobile {
				margin: -2rem auto 6rem;
			}

			.project {
				text-align: left;

				&__title {
					margin: 1.5rem 0;
					font-size: 2.6rem;
					letter-spacing: 0.05rem;
					@include mixins.mobile {
						font-size: 2.2rem;
					}
				}

				p {
					font-size: 1.8rem;
					line-height: 1.5;
					@include mixins.mobile {
						font-size: 1.7rem;
					}

					a {
						color: vars.$accent-color;

						&:hover {
							color: darken(vars.$accent-color, 18%);
						}
					}
				}

				&__links {
					margin-top: 1.5rem;
				}
			}
		}
	}
}
